<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Myエコライフ記録 - My EcoLife Records</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="./favicon.ico">
<link rel="stylesheet" href="./style.css">
</head>
<body>
<main id="app">
  <h1>Myエコライフ記録</h1>
  <p v-if="loading">読み込み中...</p>
  <template v-else>
    <nav class="tabs">
      <button
        v-for="t in visibleTabs"
        :key="t.id"
        :class="{active: currentTab === t.id}"
        @click="currentTab = t.id"
      >{{ t.label }}</button>
    </nav>

    <tab-input v-if="currentTab === 'input'" :data="data" :master="master"></tab-input>
    <tab-top v-if="currentTab === 'top'" :data="data"></tab-top>
    <tab-room v-if="currentTab === 'room'" :data="data"></tab-room>
    <tab-products
      v-if="currentTab === 'products'"
      :data="data"
      :master="master"
      :highlight-id="highlight.product"
      :category-filter="categoryFilter"
      @consumed-highlight="clearProductHighlight"
      @jump-repairlog="jumpToRepairlog"
      @jump-picture="jumpToPicture"
    ></tab-products>
    <tab-energy v-if="currentTab === 'energy'" :data="data" :master="master"></tab-energy>
    <tab-repairlog
      v-if="currentTab === 'repairlog'"
      :data="data"
      :master="master"
      :highlight-id="highlight.repairlog"
      :category-filter="categoryFilter"
      @consumed-highlight="clearRepairlogHighlight"
      @jump-picture="jumpToPicture"
      @jump-product="jumpToProduct"
    ></tab-repairlog>
    <tab-picture
      v-if="currentTab === 'picture'"
      :data="data"
      :highlight-id="highlight.picture"
      @consumed-highlight="clearPictureHighlight"
    ></tab-picture>
    <tab-setting
      v-if="currentTab === 'setting'"
      :data="data"
      @export-json="exportJson"
      @import-json="importJson"
    ></tab-setting>
  </template>
</main>
<script type="module" src="./app.js"></script>
</body>
</html>
